.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content:space-around;
  
  width: 100%;
}

.navbar-shadow {
    height: 2px;
    background-color: #fff;
    margin-left: 40%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    width: 50%;
    z-index: -1;
    position: absolute;
  bottom: 165;
  left: 0;

  }

.navbar-logo {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 1px
}

.navbar-menu {
  display: flex;
  gap: 1rem;
 
 
}
.animate-e .e {
    animation: animate-e 2s ease-in-out infinite;
  }
  
  @keyframes animate-e {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }

.navbar-item {
  color: #000000;
  text-decoration: none;
  padding: 16px 24px;
  cursor: pointer;
}

.navbar-item:hover {
    background-color: #ffff;
    color: #000000;
  }
  
  .sidebar-close {
    display: none;
  }

.navbar-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#000000;
  }

  .navbar-menu.active  {
    transform: translateX(0);
   
   
  }


  .navbar-item {
    display: inline-block;
    cursor: pointer;
    color: #fff;
  }

  .navbar-toggle {
    display: block;
  }
  .sidebar-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: block;
    color: #fff;
  }
  .navbar-shadow {
    display: none;
  }
}


